<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ATeam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ATeam.Properties.Settings>
            <setting name="StartUrl" serializeAs="String">
                <value>https://examplanner-v2.pgs-soft.com/ateam</value>
            </setting>
            <setting name="UserAteam1" serializeAs="String">
                <value>ateam1@pgs-soft.com</value>
            </setting>
            <setting name="PasswordAteam1" serializeAs="String">
                <value>YhBQWmtQLt</value>
            </setting>
            <setting name="UserAteam2" serializeAs="String">
                <value>ateam2@pgs-soft.com</value>
            </setting>
            <setting name="PasswordAteam2" serializeAs="String">
                <value>MTd4QHdI8i</value>
            </setting>
            <setting name="UserAteam3" serializeAs="String">
                <value>ateam3@pgs-soft.com</value>
            </setting>
            <setting name="PasswordAteam3" serializeAs="String">
                <value>4dR5NU7eUJ</value>
            </setting>
        </ATeam.Properties.Settings>
    </userSettings>
</configuration>